/* Dashboard component */
.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Tabs */
  .tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .tab {
    display: flex;
    /* align-items: center; */
    cursor: pointer;
    font-size: 1.2rem;
    color: #777;
  }
  
  .tab.active {
    color: #000;
  }
  
  .tab svg {
    margin-right: 5px;
  }
  
  /* Content */
  .content {
    display: flex; /* Make content columnar */
    flex-wrap: wrap; /* Allow content to wrap */
    justify-content: center; /* Center content horizontally */
    overflow-y: auto;
    padding: 20px;
  }
  
  /* Home tab */
  .home-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 20px;
    flex: 1 1 100%; /* Make home tab take up full width */
  }
  
  .home-tab h2 {
    margin-bottom: 10px;
    margin-left: -2%;
    margin-top: -5%;
    color: #555; /* Darken text color */
  }
  
  .stats-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%; /* Make stats container take up full width */
  }
  
  .stat {
    margin: 0 20px;
    background-color: #fff; /* Add background color */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Round corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    flex: 1 1 300px; /* Make stats container columnar */
  }
  
  .stat h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555; /* Darken text color */
  }
  
  .stat-value {
    font-size: 2rem;
    font-weight: bold;
    color: #333; /* Make value text color darker */
  }
  
  .chart-container {
    margin-top: 50px;
    width: 100%; /* Make chart container take up full width */
  }
  
  .chart-container h3 {
    margin-bottom: 20px;
    color: #555; /* Darken text color */
  }
  
  .chart-container img {
    max-width: 100%;
  }
  
  /* Schedule tab */
  
  
  /* Settings tab */
  .settings-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 20px;
    flex: 1 1 100%; /* Make settings tab take up full width */
  }
  
  .settings-tab h2 {
    margin-bottom: 10px;
    color: #555; /* Darken text color */
  }
  
  .settings-container {
    margin-top: 30px;
    width: 100%; /* Make settings container take up full width */
  }
  
  .settings-container h3 {
    margin-bottom: 20px;
    color: #555; /* Darken text color */
  }
  
  .settings-container label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .settings-container input[type="checkbox"] {
    margin-right: 10px;
  }