.create{
    margin-left: 5%;
    height: 100%;
    margin-top: 3%;
    .search{
        display: flex;
        
        input{
            height: 1.6rem;
            width: 20%;
            padding: 4px;
            outline: none;
        }
        button{
            margin-left: 5px;
            width: 8%;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background-color: #1dbf73;
            color: white;
        }
    }
    .creators{
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 5%;
        .add{
            margin-top:1rem;
            margin-left:30%;
            height: 1.8rem;

            width: 40%;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background-color: #1dbf73;
            color: white;
        }
    }
    .panelBtn{
        margin-left: 40%;
        margin-top: 5%;
        width: 18%;
        font-size: 17px;
        height: 2.5rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background-color: #1dbf73;
        color: white;
    }
}
.model{
    padding: 0;
    width: 90%;
    .modelhead{
        height: 15vh;
        text-align: center;
        background-color: #1dbf73;
        margin:-4rem -3.2rem 0rem -3rem;

        h4{
            padding-top:5rem;
            color: whitesmoke;
        }
    }
    h4{
        margin-top: 2rem;
        text-align: center;
    }
    .info{
        margin-top: 1rem;
        input{
            margin-left: -3rem;
            width: 150%;
        }
    }
    h5{
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .timeInfo{
        margin-top: 1.5rem;
        margin-left: 0.5rem;
        input{
            height:2rem;
            outline: none;
            margin-top: 1rem;
            width: 100%;
            margin-left: 0.5rem;
        }
        label{
            margin-top: 0.5rem;
            margin-left:5px;
        }

    }
    button{
    height: 2rem;
    margin-left: 5%;   
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: black;
    color: whitesmoke;    
    }
}
body.modal-open {
    overflow: hidden;
}