.panel{
    background-color: hsla(213, 60%, 94%, 0.637);
    padding: 1%;
    width: 20vw;
    font-family:'Courier New', Courier, monospace;
    border-radius: 10px;
    border: 1px solid transparent;
    .desc{
        display: flex;
        justify-content: space-between;
        h4{
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    
    }
    .about{
        margin-top: 5%;
        h5{
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-top: 2%;
        }
    }
}
.panel:hover{
    background: white;
    border:1px solid rgb(80, 179, 245);
}