.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    transition: 0.5s all ease;
    position: sticky;
    top:0;
    &.active{
        color: black;
        background-color: white;
    }
    .container {
        width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo {
            font-size: 34px;
            font-weight: bold;
            .text {

            }

            .dot {
                color: #1dbf73;
            }
           
        }

        .links {
            display: flex;
            align-items: center;
            gap:24px;
            font-weight: 500;
            font-family: "Montserrat",sans-serif;
            
            button {
                color: black;
                padding: 10px 20px;
                border: 1px solid white;
                border-radius: 5px;
                cursor: pointer;
                background-color: transparent;
                :hover{
                    background-color: #1dbf73;
                }
            }

                span{
                    .opt{
                    text-decoration: none;
                    color: black;
                    }
                }
            
            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;
                img{
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;
                }
                .options{
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    border: 1px solid lightgray;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: gray;
                    width: 200px;
                    font-weight: 300;
                    
                }
            }
        }
    }
    hr{
        width: 99.5%;
        height: 0px;
        border: 0.5px solid rgb(233, 230, 230);
    }
    .menu{
        width: 1400px;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        color: gray;
        font-family: "Montserrat",sans-serif;
    }
}